.row{
    margin: 1% 0 1% 0;
    border-radius: .25rem!important;
    padding:4% 4% 4% 4%;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #15171a;
}

.navbar{
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar .btn-login{
    margin-left: 32px;
}

.form-search input[type="text search-line"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-search input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rule-block .container {
    margin: 1% 0 1% 0;
}

.card-profile {
    width: 90%;
    padding: 2px;
    margin: auto;
}

.card-profile *{
    margin: 1%;
}

.str-tool{
    margin: 10px 0 10px 0;
}

.str-tool button{

}

.str-tool button:first-child {

}


