.row{
    margin: 1% 0 1% 0;
    border-radius: .25rem!important;
    padding:5% 5% 5% 5%;
}

.navbar{
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar .btn-login{
    margin-left: 32px;
}

.form-search input[type="text search-line"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-search input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}