<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='createquestion.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='comment.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='comments-list.css') }}" rel="stylesheet">
    <title>{{ context.title_page }}</title>
</head>
<body style="background-color: #343a40;">
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                Zed
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Правила</a>
                    </li>
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категории</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item disabled" href="#">Популярные</a>
                                {% if context.category_popular %}
                                    {% for category in context.category_popular %}
                                        <a class="dropdown-item" href="/search?category={{ category.name }}&page=1">{{ category.name }}</a>
                                    {% endfor %}
                                {% else %}
                                    <a class="dropdown-item disabled" href="#">Похоже таких нет</a>
                                {% endif %}
                          </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0 row form-search" style="margin:0px; padding:0px;" action="" method="post" novalidate>
                    {{ context.form_search.hidden_tag() }}
                    <div class="col-auto" style="margin:0px; padding:0px;">
                        {{ context.form_search.category_search(class="form-control", type="text search-line", placeholder="Поиск по тегу") }}
                    </div>
                    <div class="col-auto" style="margin:0px; padding:0px;">
                        {{ context.form_search.submit(class="btn btn-dark btn-block", type="submit") }}
                    </div>
                </form>
                <div class="form-inline my-2 my-md-0">
                    {% if current_user.is_authenticated %}
                        <div class="dropdown btn-login">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.name }}
                            </button>

                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile/{{current_user.id}}">Мой профиль</a>
                                <a class="dropdown-item" href="/questions/user/{{current_user.id}}?page=1">Мои вопросы</a>
                                <a class="dropdown-item" href="/my-favorite-questions">Мои избранные вопросы</a>
                                <a class="dropdown-item" href="/create-question">Создать вопрос</a>
                                <a class="dropdown-item" href="/logout">Выход из аккаунта</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="btn-group btn-login">
                            <a role="button" class="btn btn-dark" href="/register">Sing up</a>
                            <a role="button" class="btn btn-dark" href="/login">Log In</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}

    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>