{% extends "base_temp.html" %}

{% block content %}
<div class="row bg-light">
      <form class="form-signin" action="" method="post" novalidate>
            {{ context.form.hidden_tag() }}
            <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

            {{ context.form.login(type="login", class="form-control", placeholder="Логин") }}

            {{ context.form.password(type="password", class="form-control", placeholder="Пароль") }}
            <div class="checkbox mb-3">
                  <label>
                      {{ context.form.remember_me() }} Запомнить меня
                  </label>
            </div>
            {{ context.form.submit(class="btn btn-lg btn-primary btn-block", type="submit") }}
      </form>
</div>
{% endblock %}