{% extends "base_temp.html" %}

{% block content %}
<div class="row bg-light">
    {% if context.items_que %}
    <h4>{{ context.title_list_question }}</h4>
      <table class="table table-striped">
            <thead class="table-dark">
                  <tr>
                        <th scope="col">id</th>
                        <th scope="col">Вопрос</th>
                        <th scope="col">Создатель</th>
                        <th scope="col">Теги</th>
                        <th scope="col">Ответы</th>
                        <th scope="col">Дата создания</th>
                  </tr>
            </thead>
            <tbody>
                  {% for question in context.items_que %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td><a href="/question?id={{ question.id }}">{{ question.title }}</a></td>
                            <td><a href="/profile/{{ question.user.id }}">{{ question.user.name }}</a></td>
                            <td>
                                {% if question.category != None %}
                                <span class="badge badge-dark">{{ question.category.name }}</span>
                                {% else %}
                                    <p>Нет Категории</p>
                                {% endif %}
                            </td>
                            <td>{{ context.db_sess.query(context.Comment).filter(context.Comment.que_id == question.id).count() }}</td>
                            <td>{{ question.get_data() }}</td>
                        </tr>
                  {% endfor %}
            </tbody>
      </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if context.page_number<=1 %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ context.href }}?page={{ context.page_number }}&{{ context.additional_arg }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ context.href }}?page={{ context.page_number-1 }}&{{ context.additional_arg }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="{{ context.href }}?page={{ context.page_number }}&{{ context.additional_arg }}">
                {{ context.page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ context.href }}?page={{ context.page_number+1 }}&{{ context.additional_arg }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
        <h2>Вопросов нет</h2>
    {% endif %}
</div>

{% endblock %}