{% extends "base_temp.html" %}

{% block content %}
<div class="row bg-light">
    {% if context.question %}
        <div class="container">
            <div class="row border-bottom">
                <div class="col-md-8">
                    <h2>{{ context.question.title }}</h2>
                    <p>{{ context.question.content }}</p>
                </div>

                <div class="col-6 col-md-4">
                    <ul class="list-group list-group-light">
                          <li class="list-group-item">
                              Категория: {{ context.question.category.name }}
                          </li>
                          <li class="list-group-item">
                              Кол-во ответов:
                              {{ context.db_sess.query(context.Comment).filter(context.Comment.que_id == context.question.id).count() }}
                          </li>
                          <li class="list-group-item">
                              Создатель: {{ context.question.user.name }}
                          </li>
                          <li class="list-group-item">
                              Дата создания: {{ context.question.get_data() }}
                          </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row border-bottom">
                <div class="col-md-8">
                    {% if current_user.is_authenticated %}
                        <form class="form-comment" action="" method="post" novalidate>
                            {{ context.form.hidden_tag() }}

                            <h5>Оставить комментарий:</h5>

                            {{ context.form.comment_text(class="form-control", rows="4") }}
                            {{ context.form.submit(class="btn btn-primary", type="submit") }}
                        </form>
                    {% else %}
                        <p>Для того, чтобы оставлять комментарии надо войти в аккаунт. <a href="/login">Войти</a></p>
                    {% endif %}
                </div>

                <div class="col-6 col-md-4">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if context.question.comm %}
                        <h4>Комментарии:</h4>
                        <div class="list-group comment-group">
                            {% for item in context.question.comm %}
                                <div class="list-group-item item-comment">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><a href="/profile/{{ item.user.id }}">{{ item.user.name }}</a></h5>
                                        <small class="text-muted">{{ item.get_data() }}</small>
                                    </div>
                                    <p class="mb-1">{{ item.content }}</p>
                                    <a role="button" type="button" class="btn btn-dark btn-sm" href="/like?id_comm={{item.id}}">
                                        Like <span class="badge text-bg-secondary">0</span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Комментарии отсутствуют</p>
                    {% endif %}
                </div>

                <div class="col-6 col-md-4">

                </div>
            </div>
        </div>
    {% else %}
        <h2>Данного вопроса не существует</h2>
    {% endif %}
</div>
{% endblock %}