{% extends "base_temp.html" %}

{% block content %}
<div class="row bg-light rule-block">
    <h3>Правила сайта</h3>

    <div class="container">
        <h5>Копирование материалов</h5>
        <ul>
            <li>
                Разрешается частичное копирование материалов сайта при условии наличия ссылки на сайт.
            </li>
        </ul>
    </div>

    <div class="container">
        <h5>На сайте запрещено:</h5>
        <ul>
            <li>
                Публиковать ссылки или загружать на сайт нелицензионное коммерческое программное обеспечение, программы для его взлома и генераторы ключей, а также на материалы, защищённые авторскими правами (книги, музыка, видео и прочее).
            </li>
            <li>
                Спамить/добавлять рекламные посты/комментарии/материалы без согласования с администрацией.
            </li>
            <li>
                Призывать пользователей проголосовать или прокомментировать пост.
            </li>
            <li>
                Выкладывать контент порнографического содержания (картинки, ссылки и т.д.)
            </li>
            <li>
                Размещать чужую персональную информацию.
            </li>
            <li>
                Оскорблять других пользователей, прямой или косвенной форме, высказывать неуважение и/или хамить участникам форума, использовать ненормативную лексику.
            </li>
            <li>
                Разжигать национальную/расовую/религиозную вражду
            </li>
        </ul>
        <p>Обратите внимание: опубликованная информация, которая противоречит правилам сайта или содержит запрещенный правилами контент, <strong>БУДЕТ УДАЛЕНА</strong>.
Имейте в виду: размещаемая вами информация находится в открытом доступе для всех желающих.</p>
    </div>

    <div class="container">
        <h5>Общие положения:</h5>
        <ul>
            <li>
                Прежде чем создавать новые темы, обязательно воспользуйтесь ПОИСКОМ. FAQ. Возможно то, что Вы хотите спросить, уже обсуждалось на форуме.
            </li>
            <li>
                Старайтесь писать грамотно.
            </li>
            <li>
                При написании сообщения избегайте излишнего цитирования. Это затрудняет чтение сообщения и излишне загружает тему.
            </li>
            <li>
                Избегайте копирования объёмных материалов каких-либо веб-страниц. Лучше публикуйте ссылки на эти материалы.
            </li>
        </ul>
    </div>

</div>
{% endblock %}